/* Root */
.root {
  color-1: #001021;
  color-2: #001933;
  color-3: #00254d;
  color-4: #ffa500;
}

/* GENERAL */

.button1{
  -fx-background-color:  color-1;
  -fx-background-radius: 5;
  -fx-font-size: 16;
  -fx-text-fill: white;
}

.button1:visited {
  -fx-text-fill: white;
}

.button1:hover {
  -fx-text-fill: color-4;
}

.button1:hover #icon {
  -fx-fill: color-4;
}

.background-color_1{
  -fx-background-color: color-1;
}

.background-color_2{
  -fx-background-color: color-2;
}

.background-color_3{
  -fx-background-color: color-3;
}

.background-color_white{
  -fx-background-color: white;
}

/* DASHBOARD */

.categoryButton{
  -fx-background-color:  transparent;
  -fx-font-size: 18;
  -fx-text-fill: white;
}

.categoryButton:hover {
  -fx-text-fill: color-4;
}

.categoryButton:hover #icon{
  -fx-fill: color-4;
}

.categoryButton-selected {
  -fx-background-color:  transparent;
  -fx-font-size: 18;
  -fx-text-fill: color-4;
}

.categoryButton-selected #icon {
  -fx-fill: color-4;
}


/* NAVBAR */

.navbarButton{
  -fx-background-color: transparent;
  -fx-font-size: 18;
}

.navbarButton:focused {
  -fx-text-fill: white;
  -fx-font-size: 18;
}

#navbarButton:hover {
  -fx-text-fill: color-4;
  -fx-background-color:  transparent;
}

#navbarButton:hover #icon {
  -fx-fill: color-4;
}

#notificationBell {
  -fx-background-color: transparent;
}

#notificationBell:hover #icon{
  -fx-fill: color-4;
}

/* OVERVIEW PAGE */

.simple-advanced-button {
  -fx-background-color: transparent;
}

.simple-advanced-button:hover {
  -fx-underline: true;
}

.simple-advanced-background {
  -fx-background-radius: 20;
  -fx-background-color: linear-gradient(#f5f1f1, #dfeadf);
}

.overview-navbar {
  -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
  -fx-background-color: color-2;
}

.overview-scrollpanes {
  -fx-background-color: #e2eae2;
  -fx-background: transparent;
  -fx-background-radius: 10 0 0 0;
}

.overview-arrows {
  -fx-fill: color-1;
}

