.root {
  -fx-color-1: #001021;
  -fx-color-2: #001933;
  -fx-color-3: #00254d;
  -fx-text-hover-color: orange;
  -fx-color-5: #e6e6e6;
  -fx-color-text-color: white;
}

/* GENERAL */

.button1{
  -fx-background-color:  -fx-color-1;
  -fx-background-radius: 5;
  -fx-font-size: 16;
  -fx-text-fill: -fx-color-text-color;
}

.button1:visited {
  -fx-text-fill: -fx-color-text-color;
}

.button1:hover {
  -fx-text-fill: -fx-text-hover-color;
  -fx-background-color:  -fx-color-1;
}

.button1:hover #icon {
  -fx-fill: -fx-text-hover-color;
}

#icon {
  -fx-fill: -fx-color-text-color;
}

.background-color_1{
  -fx-background-color: -fx-color-1;
}

.background-color_2{
  -fx-background-color: -fx-color-2;
}

.background-color_3{
  -fx-background-color: -fx-color-3;
}
.background-color_white {
  -fx-background-color: white;
}

.background-color_grey {
  -fx-background-color: -fx-color-5;
}

.text-color {
  -fx-text-fill: -fx-color-text-color;
  -fx-fill: -fx-color-text-color;
}

/* DASHBOARD */

.categoryButton{
  -fx-background-color:  transparent;
  -fx-font-size: 18;
  -fx-text-fill: -fx-color-text-color;
}

.categoryButton:hover {
  -fx-text-fill: -fx-text-hover-color;
}

.categoryButton:hover #icon{
  -fx-fill: -fx-text-hover-color;
}

/* categorybutton selected */
.categoryButton-selected {
  -fx-background-color:  transparent;
  -fx-font-size: 18;
  -fx-text-fill: -fx-text-hover-color;
  -fx-padding: 6 0 6 12;
  -fx-underline: true;
}

.categoryButton-selected #icon {
  -fx-fill: -fx-text-hover-color;
  -fx-underline: true;
}

/* finishedtasks categorybutton */
.categoryButton-finished {
  -fx-text-fill: #00ff00;
}

.categoryButton-finished #icon {
  -fx-fill: #00ff00;
}

.categoryButton-finished:hover {
  -fx-text-fill: -fx-text-hover-color;
}

.categoryButton-finished:hover #icon{
  -fx-fill: -fx-text-hover-color;
}

/* trashbin categorybutton */
.categoryButton-trashbin {
  -fx-text-fill: #ff1717;
}

.categoryButton-trashbin #icon {
  -fx-fill: #ff1717;
}

.categoryButton-trashbin:hover {
  -fx-text-fill: -fx-text-hover-color;
}

.categoryButton-trashbin:hover #icon{
  -fx-fill: -fx-text-hover-color;
}

/* alltasks categorybutton */
.categoryButton-alltasks {
  -fx-text-fill: #fff200;
}

.categoryButton-alltasks #icon {
  -fx-fill: #fff200;
}

.categoryButton-alltasks:hover {
  -fx-text-fill: -fx-text-hover-color;
}

.categoryButton-alltasks:hover #icon{
  -fx-fill: -fx-text-hover-color;
}

/* NAVBAR */

.navbarButton{
  -fx-background-color: transparent;
  -fx-text-fill: -fx-color-text-color;
  -fx-font-size: 18;
}

.navbarButton:focused {
  -fx-text-fill: -fx-color-text-color;
  -fx-font-size: 18;
}

#navbarButton:hover {
  -fx-text-fill: -fx-text-hover-color;
  -fx-background-color:  transparent;
}

#navbarButton:hover #icon {
  -fx-fill: -fx-text-hover-color;
}

#notificationBell {
  -fx-background-color: transparent;
}

#notificationBell:hover #icon{
  -fx-fill: -fx-text-hover-color;
}

/* OVERVIEW PAGE */

.simple-advanced-button {
  -fx-background-color: transparent;
}

.simple-advanced-button:hover {
  -fx-underline: true;
}

.simple-advanced-background {
  -fx-background-radius: 20;
  -fx-background-color: linear-gradient(#e7dede, #d0d9d0);
}

.overview-navbar {
  -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
  -fx-background-color: -fx-color-2;
}

.overview-scrollpanes {
  -fx-background-color: #dae3da;
  -fx-background: transparent;
  -fx-background-radius: 10 0 0 0;
}

.overview-arrows {
  -fx-fill: -fx-color-1;
}

