.button1{
  -fx-background-color:  #001021;
  -fx-background-radius: 5;
  -fx-font-size: 16;
  -fx-text-fill: white;
}

#button1:hover {
  -fx-text-fill: orange;
  -fx-background-color:  #001021;
}

#button1:hover #icon {
  -fx-fill: orange;
}

.button2{
  -fx-background-color:  #001021;
  -fx-background-radius: 5;
  -fx-font-size: 15;
  -fx-text-fill: white;
}

.button3{
  -fx-background-color:  #001021;
  -fx-background-radius: 20;
  -fx-font-size: 12;
  -fx-text-fill: white;
}

.categoryButton{
  -fx-background-color:  transparent;
  -fx-font-size: 18;
  -fx-text-fill: white;
}

.navbarButton{
  -fx-background-color: transparent;
  -fx-font-size: 18;
}

#navbarButton:hover {
  -fx-text-fill: orange;
  -fx-background-color:  transparent;
}

#navbarButton:hover #icon {
  -fx-fill: orange;
}

#notificationBell {
  -fx-background-color: transparent;
}

#notificationBell:hover #icon{
  -fx-fill: orange;
}

.background-color_1{
  -fx-background-color: #001021;
}

.background-color_2{
  -fx-background-color: #001933;
}

.background-color_3{
  -fx-background-color:  #00254d;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :#001933;
  -fx-border-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color :#00254d;
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color :#001021;
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

