# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Leonard\Google Drive\Læring og Progresjon\Skole\Dataingeniør NTNU\Systemutvikling\Prosjekt\Gitlab\Files\idatt1002_2021_28\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
